body{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    text-align: center;
}

h1{
    background-image: url(../images/back_titulo.png);
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 3.4rem;
}

#text_cont{
    background-image: url(../images/back_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 100%;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 0;
}

#formulario{
    background-image: url(../images/back_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30% 100%;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    text-align: center;
}

input{
    margin-top: -1rem;
    border-radius: 0.5rem;
}

#opciones-inicio{
    margin-top: 1.5rem;
}

button{
    background-color: rgba(128, 128, 128, 0.2);
    border: black solid 1px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}